* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 350px;
  width: 350px;
}

.container img {
  width: 100%;
  object-fit: cover;
  background-size: cover;
  cursor: pointer;
}

#likeIcon {
  font-size: 45px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  opacity: 0;
  transition: all ease 0.3s;
}
